form {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    width: 400px;
  }

  label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  input {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  button[type="submit"] {
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: #1e90ff;
    color: #fff;
    cursor: pointer;
  }
