/* mainpage.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f7f8fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #191d3a;
  margin: 0;
}

.map-legend-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.map-legend {
  padding: 1rem;
  margin-right: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 30%;
}

.xy-plane-container {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 70%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0.5rem 0;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #6c757d;
}

.xy-plane {
  background-color: #f7f8fa;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.dotmap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* .container {
  position: relative;
} */
