.navbar {
  background-color: transparent !important;
  display: flex !important;
  justify-content: center !important;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #e2e8f0 !important;
}
