/* index.css */
.navbar {
  background-color: transparent !important; /* Make the nav bar transparent */
}

.nav-link {
  color: white !important; /* Change the color of the nav links to white */
}

.nav-link:hover {
  color: #e2e8f0 !important; /* Change the hover color of the nav links */
}
